/bin/**
/obj/**
/_ReSharper.ko.widget/**
/*.user
/*.suo
example/TypeScript/bin/**
example/TypeScript/obj/**
example/TypeScript/*.csproj.user
example/TypeScript/*.suo
example/TypeScript/**/*.js
example/TypeScript/**/*.js.map
